
<h1>User Component</h1>
<button (click)="open(content)">Add Modal</button>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add User</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-user-new (closeSuccessEvent)="c('Close click')"  (createNewUserEvent)="create($event)"></app-user-new>
        
    </div>
    
  </ng-template>
  
  
  
  <hr>
  
  <pre>{{closeResult}}</pre>

<app-user-list [users]="users" (destroyUserEvent)="destroy($event)" (updateUserEvent)="update($event)" ></app-user-list>